{% extends 'base.html' %}
{% block content %}

<h2> {{text}} </h2>
{% for post in post %}
<div class="ma2 pa2 ba ">
    <h2><a target="_blank" class="f2 underline" href="{{ post.url }}">{{ post.title }}</a></h2>
    <div class="flex flex-wrap ma0 pa0">
        <h4 class="ma0 ph1 f5"><a>{{ post.author.user.username }}</a></h4>
        <h4 class="ma0 ph1 f5"><a class="link black bg-animate hover-bg-blue"
                href="{{ post.get_absolute_url }}">Comments</a>
            <h4>
    </div>
    <div>
        <small>Posted on: {{ post.date_posted }}</small>
    </div>
</div>
{% endfor %}


{% endblock content %}