{% extends "base.html" %}
{% block content %}
<div class="page-header">
    <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
</div>

<div class="">
    <div class="">
        <div>
            <h1><a>{{ post.title }}</a></h1>
            <h5><a>{{ post.author.user.username }}</a></h5>
        </div>
{% endblock content %}
<div class="page-header">
    <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
</div>

<div class="">
    <div class="">
        <div>
            <h1><a>{{ post.title }}</a></h1>
            <h5><a>{{ post.author.user.username }}</a></h5>
        </div>
        <p>{{ post.description }}</p>
        <a class="" href="{{ post.date_posted }}"></a>
        <P> Comments: </P>
        <a class="link black bg-animate hover-bg-blue mv3 ma2 pa2" href="{% url 'create_comment' pk=post.pk %}"> Post a Comment
        </a>

    </div>
    {% for comment in comments  %}
    <div class="ma2 pa2 ba ">
            <p>{{ comment.user_comment }}</p>
            <h5><a>{{ comment.author.user.username }}</a></h5>

        <div class="flex flex-wrap ma0 pa0">
            <h4 class="ma0 ph1 f5"><a class="link black bg-animate hover-bg-blue"
                    href="{{ post.get_absolute_url }}">Comments</a>
                <h4>
        </div>
        <div>
            <small>Posted on: {{ comment.time_of_comment }}</small>
        </div>
    </div>
    {% endfor %}
    {% endblock content %} 
