{% load static %}
<!DOCTYPE>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"/>

    {% comment %} <link rel="stylesheet" type="text/css" href="{% static 'core/main.css' %}"> {% endcomment %}
    {% block meta %}{% endblock %}
</head>
<body>
    <header> 
        <nav class="ba ma1 flex flex-wrap">
            <div class="ba flex flex-wrap ma2 pa2">
                <h1 class="ma2 pa2">Juanis</h1>
                <a class="link black bg-animate hover-bg-blue mv3 ma2 pa2" href="{% url "core-home" %}">Home</a>
            </div>
            <div class="fr mv3 ma2 pa2">
                <h3>Login</h3>
            </div>
        </nav>
    </header>
        {% block content %}{% endblock %}
  </body>
</html>