{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css" />
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">


    {% block meta %}{% endblock %}
</head>

<body>
    <header>
        <nav class="ba ma1 flex flex-wrap">
            <div class="ba flex flex-wrap ma2 pa2">
                <h1 class="title"> Astronomy</h1>
                <a class="link black bg-animate hover-bg-blue mv3 ma2 pa2" href="{% url "core-home" %}">Home</a>
                <a class="link black bg-animate hover-bg-blue mv3 ma2 pa2" href="{% url "post_new" %}"> Post </a>
            </div>
            <div class="login">
                <div class="flex flex-wrap items-center pa2 ma2">
                    {% if request.user.is_authenticated %}
                    <div class="mv2">
                        <a class="pa1 ma1 link black bg-animate hover-bg-white">{{ user.username }}</a>
                    </div>
                    <a class="pa1 ma1 link black bg-animate hover-bg-white" href="{% url 'auth_logout' %}">Logout</a>
                    {% else %}
                    <a class="pa1 ma1 link black bg-animate hover-bg-white" href="{% url 'auth_login' %}">Sign Up /
                        Login</a>
                    {% endif %}
                </div>

            </div>
        </nav>
    </header>
    {% block content %}{% endblock %}
</body>

</html>